/*Home page image slider media query*/
@media (min-width:576px) {
    #imgslider img {
        height: 200px;
    }
}

@media (min-width:768px) {
    #imgslider img {
        height: 250px;
    }
}
@media (min-width:992px) {
    #imgslider img {
        height: 300px;
    }
}
@media (min-width:1200px) {
    #imgslider img {
        height: 350px;
    }
}

#imgslider img {
    display: block;
    width: 100%;
}


.heading {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
}

.restaurant-img {
    width: 150px;
    height: 150px;
    border: 1px solid gainsboro;
    padding: 5px;
}

.restaurant-logo {
    width: 100px;
    height: 100px;
}

.food-img {
    width: 80px;
    height: 80px;
}

.quantity-box {
    width: 40px;
}



